{% extends "myfitness/auth_layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>Authenticated as

<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
</pre>
</p>

<div class="boxes.container">
    <div class="info-box">
        <h2>Workouts for today</h2>
        <a href="{% url 'workouttracker' %}"class="navbar-item">Click here to view/edit</a>
        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th>Lift</th>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
             
                    {% for fitness in fitnesss %}
                            
                    <tr>
                        <td>{{ fitness.lift }}</td>
                        <td>3</td>
                        <td>{{ fitness.reps }}</td>
                        <td>{{ fitness.weight }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
    </div>


    <div class="info-box">
        <h2>Calories for the day</h2>
        <a href="{% url 'calories' %}"class="navbar-item">Click here to view/edit</a>
        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fats</th>
                    </tr>
                </thead>
                <tbody>
             
                    {% for calorie in calories %}
                            
                    <tr>
                        <td>{{ calorie.type }}</td>
                        <td>{{ calorie.calorie }}</td>
                        <td>{{ calorie.protein }}</td>
                        <td>{{ calorie.carbs }}</td>
                        <td>{{ calorie.fats }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
    </div>


    <div class="info-box">
        <h2>Weight Tracker</h2>
        <a href="{% url 'weight' %}"class="navbar-item">Click here to view/edit</a>
        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>Goal</th>
                        <th>Last</th>
                        <th>Current</th>
                    </tr>
                </thead>    
                <tbody>
             
                    {% for weight in weights %}
                            
                    <tr>
                        <td>{{ weight.start }}</td>
                        <td>{{ weight.goal }}</td>
                        <td>{{ weight.last }}</td>
                        <td>{{ weight.current }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
       
    </div>
</div>
{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>

{% endif %}
{% endblock %}
