{% extends "myfitness/layout.html" %}
{% block title %}
Nutrition
{% endblock %}
{% block content %}

<div class="table-container">
    <h1>Nutrition</h1>

        <table class="workout-table">
            <tr>
                <th>Nutrition</th>
                <th>Benefits</th>
                <th>Article Links</th>
            </tr>
            <tr>
                <td>Rice</td>
                <td>
                    <ul>
                        <li>Great source of carbohydrates</li>
                    </ul>
                </td>
                <td><a href="https://www.bbcgoodfood.com/howto/guide/top-5-health-benefits-of-rice">Benefits of rice</a></td>
            </tr>
            <tr>
                <td>Chicken</td>
                <td>
                    <ul>
                        <li>Great source of protein</li>
                    </ul>
                </td>
                <td><a href="https://www.chickencheck.in/faq/chicken-health-benefits/">Benefits of chicken</a></td>
            </tr>
            <tr>
                <td>Salmon</td>
                <td>
                    <ul>
                        <li>Great source of good fats</li>
                    </ul>
                </td>
                <td><a href="https://www.healthline.com/nutrition/salmon-nutrition-and-health-benefits#:~:text=Salmon%20is%20particularly%20high%20in,support%20brain%20health%20(%204%20).">Benefits of salmon</a></td>
            </tr>
            <tr>
                <td>Beans</td>
                <td>
                    <ul>
                        <li>Great source of fiber</li>
                    </ul>
                </td>
                <td><a href="https://www.webmd.com/diet/ss/slideshow-why-beans-are-good-for-health">Benefits of beans</a></td>
            </tr>
            <tr>
                <td>Bananas</td>
                <td>
                    <ul>
                        <li>Great source of potassium</li>
                    </ul>
                </td>
                <td><a href="https://health.clevelandclinic.org/benefits-of-bananas">Benefits of bananas</a></td>
            </tr>
            <tr>
                <td>Milk</td>
                <td>
                    <ul>
                        <li>Great source of calcium</li>
                    </ul>
                </td>
                <td><a href="https://www.floridamilk.com/in-the-news/blog/nutrition/12-powerful-health-benefits-of-milk.stml">Benefits of milk</a></td>
            </tr>
            <tr>
                <td>Oranges</td>
                <td>
                    <ul>
                        <li>Great source of vitamin C</li>
                    </ul>
                </td>
                <td><a href="https://www.webmd.com/diet/health-benefits-oranges">Benefits of oranges</a></td>
            </tr>
            <tr>
                <td>Leafy Greens</td>
                <td>
                    <ul>
                        <li>Great source of magnesium</li>
                    </ul>
                </td>
                <td><a href="https://www.baptisthealth.com/blog/health-and-wellness/health-benefits-of-leafy-greens">Benefits of leafy greens</a></td>
            </tr>

        </table>
</div>

{% endblock %}