{% extends "myfitness/layout.html" %}
{% block title %}
Supplements
{% endblock %}
{% block content %}

<div class="table-container">
    <h1>Supplements</h1>

        <table class="workout-table">
            <tr>
                <th>Supplements</th>
                <th>Benefits</th>
                <th>Article Links</th>
            </tr>
            <tr>
                <td>Fish Oil</td>
                <td>
                    <ul>
                        <li>Helps reduce inflammation</li>
                        <li>Helps slow bone density/muscle loss</li>
                    </ul>
                </td>
                <td><a href="https://www.healthline.com/nutrition/benefits-of-fish-oil">Benefits of fish oil</a></td>
            </tr>
            <tr>
                <td>Calcium</td>
                <td>
                    <ul>
                        <li>Helps with bone health</li>
                        <li>Cardiovascular health</li>
                    </ul>
                </td>
                <td><a href="https://beelinehealthcare.com/calcium/">Benefits of calcium</a></td>
            </tr>
            <tr>
                <td>Creatine</td>
                <td>
                    <ul>
                        <li>Helps with muscle growth</li>
                        <li>Improves exercise performance</li>
                    </ul>
                </td>
                <td><a href="https://www.healthline.com/nutrition/10-benefits-of-creatine">Benefits of creatine</a></td>
            </tr>
            <tr>
                <td>Magnesium</td>
                <td>
                    <ul>
                        <li>Help boost energy levels</li>
                        <li>Help raise testosterone levels</li>
                    </ul>
                </td>
                <td><a href="https://www.healthline.com/nutrition/magnesium-benefits">Benefits of magnesium</a></td>
            </tr>
            <tr>
                <td>Iron</td>
                <td>
                    <ul>
                        <li>Contributes to the normal formation or red blood cells</li>
                        <li>Improves both mental and physical health</li>
                    </ul>
                </td>
                <td><a href="https://beelinehealthcare.com/iron/">Benefits of Iron</a></td>
            </tr>
            <tr>
                <td>Multivitamins</td>
                <td>
                    <ul>
                        <li>Provides essentials vitamins</li>
                        <li>Minerals you might be missing from foods</li>
                    </ul>
                </td>
                <td><a href="https://www.webmd.com/diet/health-benefits-of-multivitamins">Benefits of multivitamins</a></td>
            </tr>
            <tr>
                <td>Vitamin D</td>
                <td>
                    <ul>
                        <li>Bone/immune health</li>
                        <li>Boost healthy testosterone</li>
                    </ul>
                </td>
                <td><a href="https://www.healthline.com/health/food-nutrition/benefits-vitamin-d">Benefits of vitamin D</a></td>
            </tr>
            <tr>
                <td>Vitamin C</td>
                <td>
                    <ul>
                        <li>Supports natural collagen levels</li>
                        <li>Helps skin to look healthy</li>
                    </ul>
                </td>
                <td><a href="https://www.healthline.com/nutrition/vitamin-c-benefits">Benefits of vitamin C</a></td>
            </tr>

        </table>
</div>

{% endblock %}