{% extends "myfitness/auth_layout.html" %}
{% load static %}
{% block title %}
Youtube Videos
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
    Name: {{ user.get_full_name }}
    Email: {{ user.email }}
</pre>
<head>
    <meta charset="UTF-8">
    <title>YouTube Videos</title>
</head>
<body>
    <h1>YouTube Videos</h1>
    <div>
        {% for video in videos %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
            <p>{{ video.title }}</p>
        {% endfor %}
    </div>
</body>

{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
    
{% endif %}
{% endblock %}