{% extends "myfitness/layout.html" %}
{% load static %}
{% block title %}
Youtube Videos
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>YouTube Videos</title>
</head>
<body>
    <h1>YouTube Videos</h1>
    <div>
        {% for video in videos %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
            <p>{{ video.title }}</p>
        {% endfor %}
    </div>
</body>
{% endblock %}