{% extends "myfitness/layout.html" %}
{% block title %}
Workouts
{% endblock %}
{% block content %}
    <div class="table-container">
        <h1>Workouts</h1>

            <table class="workout-table">
                <tr>
                    <th>Workouts</th>
                    <th>Description</th>
                    <th>Video Links</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>
                        <ul>
                            <li>Major: Chest</li>
                            <li>Minor: Triceps/Shoulders</li>
                        </ul>
                    </td>
                    <td><a href="https://youtu.be/rxD321l2svE?si=SNPA0GDcFz65ktdT">Learning to bench press</a></td>
                </tr>
                <tr>
                    <td>Squats</td>
                    <td>
                        <ul>
                            <li>Major: Quads</li>
                            <li>Minor: Hamstrings/Glutes</li>
                        </ul>
                    </td>
                    <td><a href="https://www.youtube.com/watch?v=MVMNk0HiTMg">Learning to squat</a></td>
                </tr>
                <tr>
                    <td>Deadlifts</td>
                    <td>
                        <ul>
                            <li>Major: Hamstrings</li>
                            <li>Minor: Back</li>
                        </ul>
                    </td>
                    <td><a href="https://www.youtube.com/watch?v=vRKDvt695pg">Learning to deadlift</a></td>
                </tr>
                <tr>
                    <td>Lat Pulldowns</td>
                    <td>
                        <ul>
                            <li>Major: Lats</li>
                            <li>Minor: Traps/Biceps</li>
                        </ul>
                    </td>
                    <td><a href="https://www.youtube.com/watch?v=AOpi-p0cJkc">Learning to lat pulldown</a></td>
                </tr>
                <tr>
                    <td>Military Press</td>
                    <td>
                        <ul>
                            <li>Major: Shoulders</li>
                            <li>Minor: Triceps/Upper chest</li>
                        </ul>
                    </td>
                    <td><a href="https://youtu.be/8dacy5hjaE8?si=c6mfYXMskcxSVFDN">Learning to military press</a></td>
                </tr>
                <tr>
                    <td>Tricep Pushdown</td>
                    <td>
                        <ul>
                            <li>Major: Triceps</li>
                            <li>Minor: Chest</li>
                        </ul>
                    </td>
                    <td><a href="https://www.youtube.com/watch?v=2-LAMcpzODU">Learning to tricep pushdown</a></td>
                </tr>
                <tr>
                    <td>Hammer Curl</td>
                    <td>
                        <ul>
                            <li>Major: Biceps</li>
                            <li>Minor: Forearms</li>
                        </ul>
                    </td>
                    <td><a href="https://www.youtube.com/watch?v=OPqe0kCxmR8">How to hammer curl</a></td>
                </tr>
                <tr>
                    <td>Standing Calf Raises</td>
                    <td>
                        <ul>
                            <li>Major: Calves</li>
                            <li>Minor: Quads</li>
                        </ul>
                    </td>
                    <td><a href="https://www.youtube.com/watch?v=wxwY7GXxL4k">Learning to standing calf raises</a></td>
                </tr>

            </table>
    </div>
{% endblock %}