.workout1{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8px;
    
}

.workout2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 8px;
    
}

.center-text{
    color:white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
   background-color: black; 
}

.navbar {
    background-color: grey;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
    text-align: center;
    margin-top: 95px;
    
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600; 
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    display: inline-block;
    text-align: center;
}
.home{
    text-align: center;
}
.homebody{
    text-align: center;
    width: 60% ;
    margin-left: 250px;
}

.flexingold{
    width: 150px;
    height: 200px;
}

.flexingnew{
    width: 150px;
    height: 200px;
}

.boxes-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color:white;

}

.info-box {
    border: 1px solid #ccc;
    padding: 25px;
    margin: 10px;
    text-align: center;
    color: white;
    width: 27%;
    display: inline-block;

}


.auth-content{
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}