.workout1{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8px;
    
}

.workout2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 8px;
    
}

.center-text{
    color:white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
   background-color: black; 
}

.navbar {
    background-color: grey;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
    text-align: center;
    margin-top: 95px;
    
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600; 
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    text-align: center;
    justify-content: center;
}
.home{
    text-align: center;
}
.homebody{
    text-align: center;
    width: 60% ;
    margin-left: 250px;
}

.flexingold{
    width: 150px;
    height: 200px;
}

.flexingnew{
    width: 150px;
    height: 200px;
}

.boxes-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color:white;

}

.info-box {
    padding: 25px;
    margin: 10px;
    text-align: center;
    color: white;
    width: 27%;
    display: inline-block;
    margin-top: 10px;
}

a {
    color: red;
    font-weight: bolder;
}

.info-workout {
    padding: 25px;
    margin: 10px;
    text-align: center;
    color: white;
}


.auth-content{
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.workout-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.workout-table th, .workout-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq-question {
    font-weight: bold;
    margin-bottom: 5px;
}

.faq-answer {
    margin-bottom: 15px;
}   

.box{
    margin-top: 10px;
}

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  .signup-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  